body {
    text-align: center;
    align-items: center;
}

button {
    text-align: center;
    align-items: center;
    background-color: blueviolet;
    border-radius: 26px;
    border: none;
    width: 150px;
    height: 20px;
}

button:hover {
    background-color: rgb(73, 23, 119);
}
